{% extends "layout_exp.html" %}

{% block content %}

<div class="w3-container">
    <h1>Ver experimento</h1>
    <div class="w3-panel pale-blue w3-leftbar w3-topbar w3-bottombar w3-rightbar w3-border-blue">
        <h5>Experimento</h5>
        <h4>{{object.nombre}}</h4>
    </div>


    <div class="w3-panel pale-blue w3-leftbar w3-rightbar w3-border-blue">
        <h5>Código</h5>
        <p>{{object.id}}</p>
    </div>

    <div class="w3-panel pale-blue w3-leftbar w3-rightbar w3-border-blue">
        <h5>Sexo</h5>
        <p>{{object.sexo}}</p>
    </div>

    <div class="w3-panel pale-blue w3-leftbar w3-rightbar w3-border-blue">
        <h5>Grupo sanguíneo</h5>
        <p>{{object.gp_sanguineo}}</p>
    </div>

    <div class="w3-panel pale-blue w3-leftbar w3-rightbar w3-border-blue">
        <h5>Alergías</h5>
        <p>{{object.alergias}}</p>
    </div>

    <div class="w3-panel pale-blue w3-leftbar w3-rightbar w3-border-blue">
        <h5>Factor H</h5>
        <p>{{object.factor_h}}</p>
    </div>

    <div class="w3-panel pale-blue w3-leftbar w3-rightbar w3-border-blue">
        <h5>Padecimiento</h5>
        <p>{{object.padecimiento}}</p>
    </div>

    <div>
        <a class="btn btn-default" href="{% url 'Experimento_list' %}">Volver</a>
    </div>


</div>


{% endblock %}