{% extends "layout_exp.html" %}

{% block content %}


<div class="w3-container">
  <h1>Experimentos</h1>
  <table class="w3-table w3-striped">
    <thead class="blue-bg white"
    ">
      <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Ver</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      {% for Experimento in object_list %}
      <tr>
        <td>{{ Experimento.id }}</td>
        <td>{{ Experimento.nombre }}</td>
        <td><a href="{% url 'Experimento_view' Experimento.id %}">Ver</a></td>
        <td><a href="{% url 'Experimento_edit' Experimento.id %}">Editar</a></td>
        <td><a href="{% url 'Experimento_delete' Experimento.id %}">Eliminar</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <a class="w3-button w3-black" href="{% url 'Experimento_new' %}">Agregar</a>
</div>


{% endblock %}