{% extends "layout_busqueda.html" %}

{% block content %}

<div>
  <h1>Analisis</h1>
</div>
<div class="w3-container">
  <table class="w3-table w3-striped">
    <thead class="blue-bg white">
      <tr>
        <th>Imagen</th>
        <th>Paciente</th>
        <th>Observaciones</th>
      </tr>
    </thead>
    <tbody>
      {% for analisis in object_list %}
      <tr>
        <td>{{ analisis.url_resultado }}</td>
        <td>{{ analisis.paciente }}</td>
        <td>{{ analisis.observaciones }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div>
  <li><a class="btn btn-default" href="http://127.0.0.1:8000/busqueda">Volver</a></li>
</div>

{% endblock %}