<!DOCTYPE html>
<html>
<head>
	<title>Tratamientos</title>
</head>
<body>
    <h1>Tratamientos</h1>
    <a href="http://127.0.0.1:8000/tratamientos/crear_tratamiento">Crear tratamientos</a>

    {% for t in tratamientos %}
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Modificar</th>
            <th>Eliminar</th>
        </tr>
        <tbody>
            <tr>
                <td>{{t.id}}</td>
                <td>{{t.Nombre}}</td>
                <td>{{t.Descripcion}}</td>
                <td><a href="{% url 'modificar_tratamiento' t.id %}">Modificar</a></td>
                <td><a href="{% url 'eliminar_tratamiento' t.id %}">Eliminar</a></td>
            </tr>
        </tbody>
    </table>
    {% endfor %}
</body>
</html>