{% extends "layout_tratamiento.html" %}

{% block content %}

<div class="container">
	<h1>Registrar observación</h1>
	<form class="w3-container" enctype="multipart/form-data" id="form_registrar_observacion" method="post" action="{% url 'form_registrar_observacion' %}">
		{% csrf_token %}
		<p>
			<label>Descripción</label> <br>
			<textarea rows="4" cols="50" name="descripcion" form="form_registrar_observacion" placeholder="Escriba la descripción..."></textarea>
			<p>
				<input type="hidden" value={{id}} name="id">
				<p>
					<input type="submit" class="w3-button w3-blue">
	</form>

</div>

{% endblock %}