{% extends "layout_tratamiento.html" %}

{% block content %}

<div class="container">
  <h1>Ver tratamiento</h1>
  <!-- -->
  <div class="w3-panel pale-blue w3-leftbar w3-topbar w3-bottombar w3-rightbar w3-border-blue">
    <h5>Nombre del tratamiento</h5>
    <h4>{{tratamiento.nombre}}</h4>
  </div>


  <div class="w3-panel pale-blue w3-leftbar w3-rightbar w3-border-blue">
    <h5>Descripción del tratamiento</h5>
    <p>{{tratamiento.descripcion}}</p>
  </div>

  <div class="w3-panel pale-blue w3-leftbar w3-rightbar w3-border-blue">
    <h5>Fecha inicio</h5>
    <p>{{tratamiento.fch_inicio}}</p>
  </div>

  <div class="w3-panel pale-blue w3-leftbar w3-rightbar w3-border-blue">
    <h5>Fecha fin</h5>
    <p>{{tratamiento.fch_fin}}</p>
  </div>

  <h1>Observaciones</h1>

  {% if not observaciones %}
  <h4>No hay observaciones registradas para este tratamiento</h4>
  {% else %}
  <ul class="w3-ul w3-border">
    {% for o in observaciones %}
    <li>{{o.descripcion}}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <br>
  <a href="{% url 'registrar_observacion_tratamiento' tratamiento.id %}" class="w3-button w3-indigo">Registrar
    observacion</a>


</div>


<!-- for i in obs... -->
{% endblock %}