{% extends "layout_analisis.html" %}

{% block content %}


<div class="container top-space">
  <center>
    <h1>Resultados</h1>
    <div class="row">
      <div class="col-sm-6">
        <h3>Original</h3> <br>
        <img src={{original}} class="img-rounded" width="256" height="256">
      </div>
      <div class="col-sm-6">
        <h3>Segmentada</h3> <br>
        <img src={{resultado}} class="img-rounded" width="256" height="256">
      </div>
    </div>

    <form enctype="multipart/form-data" method="post" action="{% url 'guardar_resultados' %}">
      {% csrf_token %}
      <table>
        {{ form.as_p}}
      </table>

      <input type="submit">
    </form>
    <div>
      <li><a class="btn btn-default" href="{% url 'descargar_resultado' %}">Descargar</a></li>
    </div>
  </center>
</div>

{% endblock %}