{% extends "layout_analisis.html" %}

{% block content %}

<center>
  <h1>Análisis de imágenes</h1>
  <form enctype="multipart/form-data" method="post" action="{% url 'analisis' %}">
    {% csrf_token %}
    
    <table>
      {{ form.as_p}}
    </table><input class="w3-button w3-black" type="submit" value = "Subir">
    <img class="img-fluid d-block" id="imagen" src="{{ imgsrc }}">
    
  </form>

  <div>
      <form enctype="multipart/form-data" method="post" action="{% url 'resultados' %}">
        {% csrf_token %} 
        <input class="w3-button w3-black" type="submit" value = "Analizar">
    </form>
  </div>


</center>


{% endblock %}